<!DOCTYPE html>
<html lang='' ng-app='baiduWeatherWidgetApp' ng-controller='MainCtrl'>
  <head>
    <meta charset='utf-8'>
    <meta content='ie=edge' http-equiv='x-ua-compatible'>
    <title>
      Baidu Weather Widget
    </title>
    <meta content='' name='description'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href="assets/stylesheets/application.css" rel="stylesheet" /><link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href='favicon.ico' rel='icon' type='image/x-icon'>
  </head>
  <body class='home'>
    
    <div class='container' ng-controller='BaiduWeatherCtrl'>
      <div class='row'>
        <div class='col-lg-12 col-xs-12'>
          <div class='page-header text-center'>
            <h1 class='text-muted'>
              <strong>
                Baidu Weather Widget
              </strong>
            </h1>
          </div>
        </div>
        <div class='col-lg-4 col-sm-12 col-xs-12 col-lg-push-4 col-xs-push-0'>
          <div class='weather-layout js-weather-layout weather-flip' ng-repeat='item in weathers'>
            <div class='weather-widget'>
              <div class='weather-widget-main col-lg-12'>
                <i class='icn-weather' data-weather-icn='{{item.weather_data[0].weather}}'></i>
                <p class='title-deg'>
                  {{item.weather_data[0].temperature}}
                </p>
                <p class='title-weather'>
                  {{item.weather_data[0].weather}}
                </p>
                <p class='title-wind'>
                  {{item.weather_data[0].wind}}
                </p>
                <p>
                  {{item.weather_data[0].date}}
                </p>
                <h4>
                  {{item.currentCity}}
                </h4>
                <form class='hidden js-weather-settings' name='localStorageCityForm' ng-controller='WeatherSettingsCtrl'>
                  <div class='form-group'>
                    <label>
                      City:
                      <strong data-ng-bind='localStorageCityValue' data-ng-show='localStorageCityValue'></strong>
                    </label>
                    <input class='form-control' data-ng-model='localStorageCity' data-ng-trim='false' name='input' placeholder='Type by chinese (贵阳)...' required='' type='text'>
                  </div>
                  <div class='form-group'>
                    <a href="javascript:void(0)" data-ng-show="!!!localStorageCityForm.input.$error.required" class="btn btn-default" data-ng-click="updateWeather()">Done
                    </a>
                  </div>
                  <div class='form-group'>
                    <div class='alert alert-danger' data-ng-show='localStorageCityForm.input.$error.required'>
                      <i class='fa fa-exclamation-triangle'></i>
                      Required!
                    </div>
                  </div>
                </form>
              </div>
              <div class='weather-widget-side col-lg-4 col-xs-12'>
                <i class='icn-weather' data-weather-icn='{{item.weather_data[1].weather}}'></i>
                <p class='title-deg'>
                  {{item.weather_data[1].temperature}}
                </p>
                <p class='title-weather'>
                  {{item.weather_data[1].weather}}
                </p>
                <p class='title-wind'>
                  {{item.weather_data[1].wind}}
                </p>
                <p>
                  {{item.weather_data[1].date}}
                </p>
              </div>
              <div class='weather-widget-side col-lg-4 col-xs-12'>
                <i class='icn-weather' data-weather-icn='{{item.weather_data[2].weather}}'></i>
                <p class='title-deg'>
                  {{item.weather_data[2].temperature}}
                </p>
                <p class='title-weather' ng-repeat='item in weathers'>
                  {{item.weather_data[2].weather}}
                </p>
                <p class='title-wind'>
                  {{item.weather_data[2].wind}}
                </p>
                <p>
                  {{item.weather_data[2].date}}
                </p>
              </div>
              <div class='weather-widget-side col-lg-4 col-xs-12'>
                <i class='icn-weather' data-weather-icn='{{item.weather_data[3].weather}}'></i>
                <p class='title-deg'>
                  {{item.weather_data[3].temperature}}
                </p>
                <p class='title-weather'>
                  {{item.weather_data[3].weather}}
                </p>
                <p class='title-wind'>
                  {{item.weather_data[3].wind}}
                </p>
                <p>
                  {{item.weather_data[3].date}}
                </p>
              </div>
            </div>
            <a href="javascript:void(0)" class="btn pull-right" ng-attr-city-settings=""><span class='btn-circle'>
              <i class='icn-info'></i>
            </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/javascripts/main.js"></script><script src="assets/javascripts/components.js"></script><script src="assets/javascripts/application.js"></script><script src="assets/javascripts/services.js"></script><script src="assets/javascripts/controllers.js"></script><script src="assets/javascripts/directives.js"></script>
  </body>
</html>
