//------------------------------------
    #home
//------------------------------------

.weather-layout
    position: relative

.weather-widget
    float: left
    width: 100%
    height: 100%
    +box-shadow (0 0 8px rgba(0,0,0,0.18),0 8px 16px rgba(0,0,0,0.36))

.title-weather
    font-size: 16px

.title-wind
    font-size: 16px

.weather-loading
    padding: 15px 0

.weather-widget-main
    padding-top: 60px
    padding-bottom: 10px
    background-color: #4db6ac
    color: #fff
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
    text-align: center
    & > i.icn-weather
        font-size: 110px
    & > .title-deg
        font-size: 24px

.weather-widget-side
    height: 230px
    padding-top: 60px
    background-color: #009688
    color: #fff
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
    text-align: center
    & > i.icn-weather
        font-size: 80px
    & > .title-deg
        font-size: 18px
    &:not(:last-child)
        border-right: 1px solid #04776D

.weather-settings
    position: absolute
    top: 0
    right: 0
    float: left
    width: 100%
    height: 100%

.btn-circle
    display: block
    width: 20px
    height: 20px
    background-color: #04776D
    +border-radius(50%)
    color: #fff

.icn-info
    font-style: normal
    &::before
        content: '☀'