=javascript_include_tag 'main',
                        'components',
                        'application',
                        'services',
                        'controllers',
                        'directives',
                        'filters'


