-@title= 'Baidu Weather Widget'
-@page_classes= 'home'

.container{'data-ng-controller':'BaiduWeatherCtrl'}
  .row
    .col-lg-12.col-xs-12
      .page-header.text-center
        %h1.text-muted
          %strong
            Baidu Weather Widget
  .row
    .col-lg-12.col-sm-12.col-xs-12.col-lg-push-4.col-xs-push-0{'data-ng-cloak':''}
      .weather-layout.js-weather-layout.weather-flip{'data-ng-repeat':'item in weathers'}
        .weather-widget
          .row
            .col-lg-12.weather-widget-main
              %i.icn-weather{'data-weather-icn':'{{item.weather_data[0].weather}}'}
              %p.title-deg
                {{item.weather_data[0].temperature}}
              %p.title-weather
                {{item.weather_data[0].weather}}
              %p.title-wind
                {{item.weather_data[0].wind}}
              %p
                {{item.weather_data[0].date}}
              %h4
                {{item.currentCity}}
            .col-lg-4.col-sm-4.col-xs-12.weather-widget-side
              %i.icn-weather{'data-weather-icn':'{{item.weather_data[1].weather}}'}
              %p.title-deg
                {{item.weather_data[1].temperature}}
              %p.title-weather
                {{item.weather_data[1].weather}}
              %p.title-wind
                {{item.weather_data[1].wind}}
              %p
                {{item.weather_data[1].date}}
            .col-lg-4.col-sm-4.col-xs-12.weather-widget-side
              %i.icn-weather{'data-weather-icn':'{{item.weather_data[2].weather}}'}
              %p.title-deg
                {{item.weather_data[2].temperature}}
              %p.title-weather{'ng-repeat':'item in weathers'}
                {{item.weather_data[2].weather}}
              %p.title-wind
                {{item.weather_data[2].wind}}
              %p
                {{item.weather_data[2].date}}
            .col-lg-4.col-sm-4.col-xs-12.weather-widget-side
              %i.icn-weather{'data-weather-icn':'{{item.weather_data[3].weather}}'}
              %p.title-deg
                {{item.weather_data[3].temperature}}
              %p.title-weather
                {{item.weather_data[3].weather}}
              %p.title-wind
                {{item.weather_data[3].wind}}
              %p
                {{item.weather_data[3].date}}
