-@title= 'Baidu Weather Widget'
-@page_classes= 'home'

.container{'ng-controller':'BaiduWeatherCtrl'}
  .row
    .col-lg-12.col-xs-12
      .page-header.text-center
        %h1.text-muted
          %strong
            Baidu Weather Widget
    .col-lg-4.col-sm-12.col-xs-12.col-lg-push-4.col-xs-push-0
      .weather-widget{'data-ng-show':'isWeatherDataLoading'}
        .weather-widget-main.is-loading.text-center
          loading....
      .weather-layout.js-weather-layout.weather-flip{'data-ng-repeat':'item in weathers'}
        .weather-widget
          .weather-widget-main.col-lg-12
            %i.icn-weather{'data-weather-icn':'{{item.weather_data[0].weather}}'}
            %p.title-deg
              {{item.weather_data[0].temperature}}
            %p.title-weather
              {{item.weather_data[0].weather}}
            %p.title-wind
              {{item.weather_data[0].wind}}
            %p
              {{item.weather_data[0].date}}
            %h4
              {{item.currentCity}}
            %form.hidden.js-weather-settings{'name':'localStorageCityForm','data-ng-controller':'WeatherSettingsCtrl'}
              .form-group
                %label
                  City:
                  %strong{'data-ng-show':'localStorageCityValue', 'data-ng-bind':'localStorageCityValue'}
                %input.form-control{name:'input', 'data-ng-model':'localStorageCity', required:'', 'data-ng-trim':'false', placeholder: 'Type by chinese (贵阳)...', type: 'text'}/
              .form-group
                =link_to 'javascript:void(0)', 'data-ng-click':'hideForm()', class:'btn btn-link' do
                  %span.text-default
                    Back
                =link_to 'javascript:void(0)', class:'btn btn-default', 'data-ng-click':'updateWeather()' do
                  Done
              .form-group
                .alert.alert-danger{'data-ng-show':'localStorageCityForm.input.$error.required'}
                  %i.fa.fa-exclamation-triangle
                  Required!
          .weather-widget-side.col-lg-4.col-xs-12
            %i.icn-weather{'data-weather-icn':'{{item.weather_data[1].weather}}'}
            %p.title-deg
              {{item.weather_data[1].temperature}}
            %p.title-weather
              {{item.weather_data[1].weather}}
            %p.title-wind
              {{item.weather_data[1].wind}}
            %p
              {{item.weather_data[1].date}}
          .weather-widget-side.col-lg-4.col-xs-12
            %i.icn-weather{'data-weather-icn':'{{item.weather_data[2].weather}}'}
            %p.title-deg
              {{item.weather_data[2].temperature}}
            %p.title-weather{'ng-repeat':'item in weathers'}
              {{item.weather_data[2].weather}}
            %p.title-wind
              {{item.weather_data[2].wind}}
            %p
              {{item.weather_data[2].date}}
          .weather-widget-side.col-lg-4.col-xs-12
            %i.icn-weather{'data-weather-icn':'{{item.weather_data[3].weather}}'}
            %p.title-deg
              {{item.weather_data[3].temperature}}
            %p.title-weather
              {{item.weather_data[3].weather}}
            %p.title-wind
              {{item.weather_data[3].wind}}
            %p
              {{item.weather_data[3].date}}
        =link_to 'javascript:void(0)', class:'btn pull-right', 'ng-attr-city-settings':'' do
          %span.btn-circle
            %i.icn-info
